*{
    box-sizing: border-box !important;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #F7FAFD;
}
.navbar{
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}
.img-logo{
    width: 250px;
}
header{
    position: relative;
    overflow: hidden;
}
h1{
    font-size: 4rem;
    letter-spacing: -1px;
    display: inline-block;
    position: relative;
}
.min-vh-100{
    min-height: 100vh;
}
.title-hr h1::after{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #c3c3c3;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0.4);
    transition: transform 0.4s ease;
    z-index: -1;
    

}
.title-hr h1:hover::after{
    transform: scaleX(1); 
}
header .shape img{
    position: absolute;
    z-index: -1;

}
header .shape img:nth-child(1){
    width: 600px;
    left: -300px;
}
header .shape img:nth-child(2){
    width: 100px;
    right: 100px;
    top: 100px;
}
header .shape img:nth-child(3){
    width: 150px;
    right: 150px;
    top: 90px;
    left: 100px;
}
header .shape img:nth-child(4){
    position: absolute;
    width: 1200px;
    right: 1200px;
    top: 90px;
    right: -500px;
    z-index: -2;
}
.card-effect{
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}
.secvice .iconBox{
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #116DFA;
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}
.secvice{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.secvice::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: #116DFA;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease;
}

.secvice:hover .iconBox{
    background-color: #fff;
    color: #116DFA;
}
.secvice:hover h5,
.secvice:hover p{
    color: #fff;
}
.secvice:hover::after{
    opacity: 1;
    top: 0;
}

.gallery .imgBox img{
    width: 100%;
}
.galleryBox{

    display: flex;
    justify-content: center;
    align-items: center; 
}
.galleryBox .imgBox{
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    transition: all 0.4s ease;
}
.galleryBox .imgBox::after{
    content: "VIEW";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #116efa67;
    z-index: 2;
    opacity: 1;
    transform: scale(0);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #F7FAFD;
    font-weight: 900;

   }
   .galleryBox .imgBox:hover{
       transform: translateY(-10px);
   }
   .galleryBox .imgBox:hover::after{
    transform: scale(0.8);  
   }


   /* Team=============== */
.team{
    min-height: 100vh;
}
.team .teamBox{
    
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.11);
}
    .imgBox img{
        width: 100%;
    }
   .teamBox .imgBox{
       position: relative;
   }

   .teamBox .imgBox .over{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #0866f369;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       color: #fff;
       transform: scaleY(0);
       transition: transform 0.4s ease;

   }

   .teamBox .imgBox .over .over-textBox ul{
       padding: 0;
   }
.teamBox .imgBox .over .over-textBox ul li{
    display: inline;
    list-style: none;
}
.teamBox .imgBox .over .over-textBox ul li a{
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
  
}
.teamBox .imgBox:hover .over{
    transform: scaleY(1);
}
.teamBox .textBox{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.teamBox .textBox h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}
.teamBox .textBox p{
  
}


@media (max-width: 991.98px) {
.navbar-nav li{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    font-size: 20px;
}

}