
.sidebar-after{
    background-color: #222D32;

}


.nav-item-after{
    background-color: #1E282C !important;
}

.nav-link:hover{
    background-color: #1E282C !important;
}

.nav-link:hover, li.nav-item::before{
    color: white !important;
    /* background-color: white !important; */
}