* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Y bo‘yicha pastga joylashtirish */
    height: 100vh;
    background: url('../images/bg_home.webp') no-repeat center center;
    background-size: cover;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures it stays on top */
}

/* Hides content until page is loaded */
#content {
    display: none;
}
.container {
    position: absolute;
    bottom: 50px; /* Y bo‘yicha pastdan joylashish */
}
.form-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.form-content img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.form-content .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content .login-box h1 {
    margin-bottom: 15px;
    font-size: 44px;
    color: #333;
    text-shadow: 2px 1px 10px #0056b3;
}

.form-content label {
    align-self: flex-start;
    font-size: 24px;
    margin-top: 10px;
}
.form-content .input-box {
    margin-top: 15px;
}

.form-content input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    box-shadow: 1px 1px 10px #09192a2a;
    font-weight: lighter;
}

.form-content a {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #007BFF;
    transition: 0.3s;
}

.form-content a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.form-content button {
    width: 40%;
    margin-top: 15px;
    padding: 10px;
    background: #E57D30;
    border: 2px groove #a6ccfa;
    box-shadow: inset 1px 1px 0 1px rgb(147, 45, 14);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.form-content  button:hover {
    background: #c75c0b;
}
.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-box {
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0;
    border: none;
    background-color: none;
    transition: 0.5s;
}
.card-box img{
    width: 100%;
}
.card-box:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    cursor: pointer;
    
}


@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .card-box {
        width: 80px;
        height: 100px;
    }
    .form-content .login-box {
        width: 90%;
        padding: 15px;
    }
    .form-content input {
        font-size: 18px;
    }
    .form-content  button {
        font-size: 20px;
    }
}
.col-12 {
max-width: max-content; /* Faqat spline-viewer o‘lchamigacha kengayadi */
width: fit-content;
}
@-webkit-keyframes track-in-out {
0% {
letter-spacing: 1em;
opacity: 0;
}
20% {
letter-spacing: normal;
opacity: 1;
}
80% {
letter-spacing: normal;
opacity: 1;
}
100% {
letter-spacing: 1em;
opacity: 0;
}
}

#head-text{
font-size: 50px;
margin-top: 50px;
color: #028493;
word-spacing: 10px;
text-shadow: 2px 2px 5px grey;
width: 100%;
text-align: center;
font-weight: 700;
font-family: 'Monoton', cursive;
animation-name: track-in-out;
animation-duration: 7s;
animation-iteration-count: infinite;
}