* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.col-8 {
    width: 66%;
    float: left;
}

.col-4 {
    width: 33%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.img-fluid {
    width: 100%;
}

.pl-10 {
    padding-left: 10px;
}

.img-thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.clear-both {
    clear: both
}


/* header main */

.main-header {
    width: 1200px;
    margin: 0 auto;
}

.header-img-box {
    position: relative;
}

.header-img-box img {
    width: 100%;
    margin: 0;
}

.header-img-box .img-text-box {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 500px
}

.header-img-box .img-text-box h2 {
    display: inline;
    background-color: rgba(31, 166, 122, .7);
    padding: 10px;
    color: #fff;
    font-weight: 500;
}

.header-img-box .img-text-box p {
    background-color: rgba(59, 59, 59, .8);
    padding: 10px;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}

.main-header {
    background-color: #fff;
}

.main-navigation {
    float: right;
}

.main-header-breand {
    display: inline-block;
    vertical-align: middle;
}

.main-header-breand img {
    width: 60px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation-item {
    display: inline-block;
    margin: 0;
}

.main-navigation-item a {
    color: #999;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

.main-navigation-item a:hover {
    background-color: #1fa67a;
    color: #fff;
}

.main-navigation-item.active a {
    background-color: #1fa67a;
    color: #fff;
}

.header-box {
    margin-top: -4px;
    background-color: #1fa67a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-box span {
    font-size: 22px;
    margin-right: 40px;
}

.header-box button {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}

.header-box button:hover {
    background: #fff;
    color: #1fa67a;
}


/* main-section */

.main-section h2 {
    font-size: 32px;
    color: #444;
    margin-bottom: 5px;
}

.main-section span {
    font-size: 14px;
    margin-right: 3px;
    color: #1fa67a;
}

.main-section span i {
    margin-left: 10px
}

.main-section p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #6B6B6B;
    line-height: 16px;
    text-align: justify;
}

.main-section .news-more-btn {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(196, 193, 193);
    border-radius: 5px;
    float: right;
    color: #1fa67a;
}

.main-section .button:hover {
    background: #fff;
    color: #1fa67a;
}